*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Platypi", serif;
    color: #ffffff;
}

body {
    background-color: #7fa58d;
}

hr {
    height: 100vh;
    background-color: black;
}